/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \*********************************************************************************************************************************************************/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
}

.page {
  display: flex;
  height: 100%;
  overflow-x: hidden;
}
.page__sidebar {
  width: 300px;
  height: 100%;
  background-color: #212529;
  flex-shrink: 0;
}
.page__content {
  height: 100%;
  flex-grow: 1;
  position: relative;
}
.page__burger {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.sidebar {
  border-right: 1px solid #f8f9fa;
  color: #f8f9fa;
  transform: translateX(calc(-100% - 10px));
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.sidebar__header {
  padding: 10px 10px 10px 60px;
  background-color: #0d6efd;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
.sidebar__logo-pre {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 2px;
}
.sidebar__items {
  font-size: 18px;
}
.sidebar__item {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.sidebar__item.active {
  background-color: #adb5bd;
  color: #212529;
}
.sidebar__item:hover {
  background-color: rgba(173, 181, 189, 0.8);
}
.sidebar.active {
  transform: none;
}

.burger {
  width: 40px;
  height: 40px;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.burger__line {
  height: 2px;
  border-radius: 50px;
  width: 100%;
  background-color: #f8f9fa;
}
/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Canvas/Canvas.module.scss ***!
  \*****************************************************************************************************************************************************************************/
.hNnRXrHlQnLwmuJsTHq5 {
  display: block;
  max-width: 100%;
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/colors.module.scss ***!
  \******************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Range/Range.module.scss ***!
  \***************************************************************************************************************************************************************************/
.JUYzgMhgJCaCUNKzELfF {
  position: absolute;
  right: 0;
  bottom: 100px;
  left: 0;
  margin: auto;
  width: 300px;
}
/*!*********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Controls/Controls.module.scss ***!
  \*********************************************************************************************************************************************************************************/
.gt3pDgkwwEiE80E7zc56 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  left: 20px;
  margin-left: auto;
  max-width: max-content;
}

.W8QkwqrU18OQYVNUvMqP {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}
.W8QkwqrU18OQYVNUvMqP:last-child {
  margin-bottom: 0;
}

.eKqLYGWJnnBpB9duMYp1 {
  color: #f8f9fa;
  background-color: #0d6efd;
  border: none;
  padding: 6px 12px;
  margin-right: 6px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  flex-grow: 1;
}
.eKqLYGWJnnBpB9duMYp1:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=main.c34024c3.css.map*/